<!DOCTYPE html>
<html>
<title>the book club</title>

<body>
  <h1>the book club</h1>
  <h1>Join today for only $20/month!</h1>
  <p>Subscribe to the book club to get a fresh recommended book every month. Read it and discuss along with other book club members on our Discord!</p>
  <p>Some example books from prior months:</p>
  <ul>
    <li><a href="http://amazon.com/dp/0691147728">The Rise and Fall of American Growth</a></li>
    <li><a href="http://amazon.com/dp/0691147728">The Rise and Fall of American Growth</a></li>
    <li><a href="http://amazon.com/dp/0812928350">Hard Landing</a></li>
  </ul>

  <h1>Signup!</h1>
  <form action="/create-checkout-session" method="POST">
    <button type="submit">Checkout</button>
  </form>
</body>
</html>

