<html>
  <head><title>Thank you!</title></head>
  <body>
    <h1>Thanks for signing up!</h1>
    <p>
      We appreciate your business!
      If you have any questions, please email
      <a href="mailto:orders@thebookclub.com">orders@thebookclub.com</a>.
    </p>
  </body>
</html>
